@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-image: url(assets/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: #e6ecfd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-ilustration {
  border-radius: 20px 20px 0 0;
  width: 450px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  padding-bottom: 50px;
  margin-top: 100px;
  height: 450px;
  width: 451px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: -8px -2px 9px -2px rgba(0, 0, 0, 0.55);
}

.card-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.order-summary {
  margin-top: 20px;
  font-size: 20px;
  font-family: "Red Hat Display", sans-serif;
}

.text-card {
  margin-top: 20px;
  padding: 0 15px;
  font-family: "Red+Hat", sans;
  color: rgb(80, 84, 82);
}

.plan-item {
  padding: 0 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  background-color: rgba(124, 129, 129, 0.131);
  border-radius: 20px;
  font-family: "Red+Hat", sans;
  color: rgb(80, 84, 82);
}
.plan-item a {
  color: rgb(80, 84, 82);
}

.button-cancelOrder {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.button-payment {
  height: 30px;
  width: 160px;
  border: solid 1px #e6ecfd;
  border-radius: 10px;
  background-color: #d6e1ff;
  cursor: pointer;
}
.cancel-order {
  color: red;
}
